@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  src: url('/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  src: url('/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 300;
  src: url('/fonts/Roboto_Condensed/RobotoCondensed-Light.ttf');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 400;
  src: url('/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  src: url('/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf');
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight: 300;
  src: url('/fonts/Roboto_Mono/static/RobotoMono-Light.ttf');
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight: 200;
  src: url('/fonts/Roboto_Mono/static/RobotoMono-ExtraLight.ttf');
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight: normal;
  src: url('/fonts/Roboto_Mono/static/RobotoMono-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight: medium;
  src: url('/fonts/Roboto_Mono/static/RobotoMono-Medium.ttf');
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight: semibold;
  src: url('/fonts/Roboto_Mono/static/RobotoMono-SemiBold.ttf');
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight: bold;
  src: url('/fonts/Roboto_Mono/static/RobotoMono-Bold.ttf');
}
